html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:azure;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: black, 2px, solid;
    width: 500px;
    height: 300px;
}


button{
    background-color:darkslateblue;
    color: white;
    cursor:pointer;
    border: solid, 2px, black;
    border-radius: 2px;
    border-style: none;
}

.set_mensagem {
    background-color:darkred;
    border: solid, darlred, 2px;
    border-radius: 5px;
}


