* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

/* H1 - LOGIN - SISTEMA FINANCEIRO */
.loginh1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Formulário - email/senha */
.formlogin {
    background: rgba(255, 255, 255, 0.12);
    padding: 30px 35px;
    border-radius: 15px;
    width: 100%;
    max-width: 380px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.8s ease;
}

.formlogin label {
    font-size: 14px;
    color: #e2e2e2;
}

.formlogin input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    outline: none;
    font-size: 15px;
    transition: 0.3s border;
}

.formlogin input::placeholder {
    color: #ddd;
}

.formlogin input:focus {
    border: 2px solid #a974ff;
    background: rgba(255 , 255, 255, 0.35);
}

.formlogin button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #a259ff, #5a8bff);
    border: none;
    border-radius: 10px;
    color:#fff;
    font-size: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3)
}

.formlogin button:hover {
    transform: scale(1.04);
    background: linear-gradient(135deg, #b67aff, #6ea3ff);
}

p {
    margin-top: 18px;
    color: #ffffffd9;
}

p a {
    color: #ffeaef;
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Área do minion */
.minion {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s ease;
}

/* MODO CLARO - minion amarelo */
:root[data-bs-theme="light"] .minion {
    background-image: url("imagens/minions-amarelo.png");
}

/* MODO CLARO = FUNDO AMARELO */
:root[data-bs-theme="light"] body {
    background: linear-gradient(135deg, #ffeb3b, #ffcc00) !important;
}

/* Login - Sistema Financeiro */
html[data-bs-theme="light"] .loginh1,
html[data-bs-theme="light"] .loginh1 * {
    color: #000 !important;
}

/* Email, senha */
html[data-bs-theme="light"] label,
html[data-bs-theme="light"] label * {
    color: #000 !important;
}

/* Não tem conta */
html[data-bs-theme="light"] p,
html[data-bs-theme="light"] a {
    color: #000 !important;
}

:root[data-bs-theme="light"] .formlogin {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 25px rgba(255, 193, 7, 0.4);
}

:root[data-bs-theme="light"] input {
    background: rgba(255, 255, 255, 0.65);
    color: #333;
}

:root[data-bs-theme="light"] button[type="submit"] {
    background: linear-gradient(135deg, #ffea00, #ffb300);
    color: #333;
}

/* MODO ESCURO - minion roxo */
:root[data-bs-theme="dark"] .minion {
    background-image: url(imagens/minions-roxo.png);
}

/* MODO ESCURO = FUNDO ROXO */
:root[data-bs-theme="dark"] body {
    background: linear-gradient(135deg, #4c0e98, #230046) !important;
}

:root[data-bs-theme="dark"] .formlogin {
    background: rgba(255, 255, 255, 0.10);
    /* box-shadow: 0 0 25px rgba(162, 89, 255, 0.4); */
}

:root[data-bs-theme="dark"] input {
    background: rgba(255, 255, 255, 0.20);
    color: #fff;
}

:root[data-bs-theme="dark"] button[type="submit"] {
    background: linear-gradient(135deg, #a259ff, #5a2d91);
    color: #fff;
}
